/* PostWrite.module.css */
.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .markdownContainer {
    margin-top: 24px;
    width: 80%;
    background-color: #f9f9f9;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Markdownのスタイル */
  .markdown {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .markdown h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  .markdown h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .markdown p {
    margin-bottom: 1em;
  }
  
  .markdown ul {
    list-style-type: disc;
    margin-left: 1.5em;
  }
  
  .markdown ol {
    list-style-type: decimal;
    margin-left: 1.5em;
  }
  
  .markdown code {
    background-color: #eaeaea;
    padding: 2px 4px;
    border-radius: 4px;
  }
  
  .markdown pre code {
    background-color: #eaeaea;
    padding: 12px;
    display: block;
    border-radius: 8px;
    overflow-x: auto;
  }
  
  .markdown blockquote {
    border-left: 4px solid #ccc;
    padding-left: 16px;
    color: #666;
    margin-left: 0;
    margin-right: 0;
  }
  
  