.form {
    width: 100%;
    max-width: 600px;
  }
  
  .formGroup {
    margin-bottom: 16px;
  }
  
  .cropContainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    color: #000000; 
  }
  
  .input,
  .textarea,
  .select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000; 
    background-color: #fff;
  }
  
  .textarea {
    height: 150px; 
  }
  
  .button {
    padding: 10px 16px;
    background-color: #48bb78;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #38a169;
  }

  /* UserProfileEdit.module.css */

.avatarContainer {
  position: relative;
  width: fit-content;
  margin-bottom: 20px; /* 適宜調整 */
}

.avatarWrapper {
  position: relative;
  cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cameraIcon {
  color: #fff;
  font-size: 1.2em;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  outline: none;
  border-radius: 16px;
  max-width:90%;
  max-height: 90%;
  overflow: auto;
}
